body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    color: white;
    font-family: cursive;
}

.container{
    display: flex;
    text-align: center;
}

.mouse-event{
    border: 1px solid lightgray;
    margin: 40px;
    min-width: 180px;
    min-height: 100px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
}

.mouse-event h4{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-weight: 100;
    color: lightgray;
    font-size: 14px;
}

@media (max-width:500px) {
    .container{
        flex-direction: column;
    }
}













